@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="title">
    <span class="title_icon">
        <img src="~/user/images/bullet1.gif" alt="" title="" />
    </span>Featured products
</div>
 @foreach (var featured in ViewBag.FeaturedProducts)
    {
<div class="feat_prod_box">
   
        <div class="prod_img">
            <a asp-controller="product" asp-action="detail" asp-route-id="@featured.Id">
                <img src="~/images/@featured.Photo" alt="" title="" border="0" width="120px" height="120px"/>
            </a>
        </div>

        <div class="prod_det_box">
            <div class="box_top"></div>
            <div class="box_center">
                <div class="prod_title">@featured.Name</div>
                <p class="details">
                    @featured.Description
                </p>
                <a asp-controller="product" asp-action="details" asp-route-id="@featured.Id" class="more">- more details -</a>
                <div class="clear"></div>
            </div>

            <div class="box_bottom"></div>
        </div>
    
    
    <div class="clear"></div>
</div>
}

<div class="title">
    <span class="title_icon">
        <img src="~/user/images/bullet2.gif" alt="" title="" />
    </span>New products
</div>
<div class="new_products">
    @foreach (var productlatest in ViewBag.productsLastest)
    {
        <div class="new_prod_box">
            <a asp-controller="product" asp-action="detail" asp-route-id="@productlatest.Id">@productlatest.Name</a>
            <div class="new_prod_bg">
                <span class="new_icon">
                    <img src="~/user/images/new_icon.gif" alt="" title="" />
                </span> <a asp-controller="product" asp-action="detail" asp-route-id="@productlatest.Id">
                    <img src="~/images/@productlatest.Photo" alt="" title="" class="thumb" border="0" width="120px" height="120px"/>
                </a>
            </div>
        </div>
    }
   

</div>

<div class="clear"></div>