<a asp-controller="product" asp-action="index">Back</a>

<h2>Cart</h2>
<form  method="post" asp-controller="cart" asp-action="update">
    <table border="1" width="600px">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Photo</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Sub Total</th>
            <th>Action</th>

        </tr>
        @foreach (var item in ViewBag.cart)
        {
            <tr>
                <td>@item.Product.Id</td>
                <td>@item.Product.Name</td>
                <td>
                    <a asp-controller="product" asp-action="details" asp-route-id="@item.Product.Id"> <img src="~/images/@item.Product.Photo" width="50" height="65" /></a>
                </td>
                <td>@item.Product.Price</td>

                @*   thay doi thanh combobox*@
                <td>
                    <input type="number" min="1" value="@item.Quantity" name="quantities"style="width:50px">

                </td>
                <td>
                    @(item.Product.Price * item.Quantity)
                </td>

                <td align="center"><a asp-controller="cart" asp-action="remove" asp-route-id="@item.Product.Id">X</a></td>
            </tr>
        }
        <tr>
            <td align="center" colspan="5">
                Total money
            </td>
            <td align="center" colspan="2">
                @ViewBag.total
            </td>
        </tr>
        <tr>
            <td align="center" colspan="7">
                <button value="Update">Update</button>
            </td>
        </tr>
    </table>
</form>
<br /><br />

@* thanh toán với paypal*@
<form method="post" action="@ViewBag.postUrl">
   @* // mac dinh value la 1 *@
    <input type="hidden" name="upload" value="1" />
@*    valua gui ve duong dan*@
    <input type="hidden" name="return" value="@ViewBag.returnUrl" />

    <input type="hidden" name="cmd" value="_cart" />
  @*  // doc business muon nhan tien ra*@
    <input type="hidden" name="business" value="@ViewBag.business" />

@*    // khai bao khoi C# de khai bao bien index*@
    @{
        int index = 1;
    }
     @foreach (var item in ViewBag.cart)
    {
        // name ="item_number_xxx" do paypal quy dinh
        <input type="hidden" name="item_number_@index" value="@item.Product.Id" />
        <input type="hidden" name="item_name_@index" value="@item.Product.Name" />
        <input type="hidden" name="amount_@index" value="@item.Product.Price" />
        <input type="hidden" name="quantity_@index" value="@item.Quantity" />
        index++;
    }

    <input type="submit" value="Submit" />
</form>
