<h2>
    Nguyen Hoang Khai Demo - Session2 
</h2>
Msg1: @ViewBag.msg1<br />
Msg2:  @ViewBag.msg2
<br />
Msg3: @ViewBag.msg3
<br />
Msg4: @ViewBag.msg4
<br />
Msg5: @ViewBag.msg5
<br />
Msg6: @ViewBag.msg6