<h3> List Product</h3>
<a asp-controller="home" asp-action="index">Back</a>
<fieldset>
    <legend> Search By KeyWord </legend>
    <form method="get" asp-controller="product" asp-action="searchByName">
        Keyword <input type="text" name="keyword" value="@ViewBag.keyword" />
        </br>
        <input type="submit" value="Search" />

    </form>
</fieldset>
<br />
<button style="width:50px;height:50px"><a asp-controller="product" asp-action="add">Add</a></button>
<br />
@TempData["msg"]
<br />
<table border="1" width="1000px">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>
            Price
            <a asp-controller="product" asp-action="sort" asp-route-direction="asc"><img src="~/images/up.png"/></a>
            <a asp-controller="product" asp-action="sort" asp-route-direction="desc"><img src="~/images/down.png" /></a>
        </th>
        <th>Quantity</th>
        <th>Description</th>
        <th>Status</th>
        <th>Photo</th>
        <th>Created</th>
        <th>CategoryId</th>
        <th>Featured</th>
        <th>Detail</th>
    </tr>
    @foreach (var pro in ViewBag.product)
    {
        <tr>
            <td>@pro.Id</td>
            <td>@pro.Name</td>
            <td>@pro.Price</td>
            <td>@pro.Quantity</td>
            <td>@pro.Description</td>
            <td>@pro.Status</td>
            <td>
                <a> <img src="~/images/@pro.Photo" width="100" height="100" /></a>
            </td>
            <td>@pro.Created.ToString("dd/MM/yyyy")</td>

            <td>@pro.CategoryId</td>
            <td>@pro.Featured</td>
            <td><a asp-controller="product" asp-action="detail" asp-route-id="@pro.Id">More</a></td>
        </tr>
    }
</table>
