<h3>List Account</h3>

<a asp-controller="home" asp-action="index">back</a>

<table border="1" width="600px">
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>FullName</th>
        <th>Email</th>
        <th>Status</th>
        <th>Detail</th>
    </tr>
    @foreach (var acc in ViewBag.account)
    {
        <tr>
            <td>@acc.Id</td>
            <td>@acc.Username</td>
            <td>@acc.FullName</td>
            <td>@acc.Email</td>
            <td>@acc.Status</td>
            <td><a asp-controller="account" asp-action="detail" asp-route-id="@acc.Id">More</a></td>

            
        </tr>
    }
</table>