@*<h3>Home @ViewBag.username</h3>*@
@model AccountBank.Models.Account
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>nguyenhoangkhai</title>
    <style>
        body {
            font-family: Arial;
            font-size: 17px;
            padding: 8px;
        }

        * {
            box-sizing: border-box;
        }

        .row {
            display: -ms-flexbox; /* IE10 */
            display: flex;
            -ms-flex-wrap: wrap; /* IE10 */
            flex-wrap: wrap;
            margin: 0 -16px;
        }

        .col-25 {
            -ms-flex: 25%; /* IE10 */
            flex: 25%;
        }

        .col-50 {
            -ms-flex: 50%; /* IE10 */
            flex: 50%;
        }

        .col-75 {
            -ms-flex: 75%; /* IE10 */
            flex: 75%;
        }

        .col-25,
        .col-50,
        .col-75 {
            padding: 0 16px;
        }

        .container {
            background-color: #f2f2f2;
            padding: 5px 20px 15px 20px;
            border: 1px solid lightgrey;
            border-radius: 3px;
        }

        input[type=email] {
            width: 100%;
            margin-bottom: 20px;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        input[type=password] {
            width: 100%;
            margin-bottom: 20px;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        input[type=number] {
            width: 100%;
            margin-bottom: 20px;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        input[type=text] {
            width: 100%;
            margin-bottom: 20px;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        label {
            margin-bottom: 10px;
            display: block;
        }

        .icon-container {
            margin-bottom: 20px;
            padding: 7px 0;
            font-size: 24px;
        }

        .btn {
            background-color: green;
            color: white;
            padding: 12px;
            margin: 10px 0;
            border: none;
            width: 100%;
            border-radius: 3px;
            cursor: pointer;
            font-size: 17px;
        }

            .btn:hover {
                background-color: #45a049;
            }

        .btn_des {
            background-color: green;
            color: white;
            padding: 12px;
            margin: 10px 0;
            border: none;
            width: 100%;
            border-radius: 3px;
            cursor: pointer;
            font-size: 17px;
        }

            .btn_des:hover {
                background-color: #45a049;
            }

        .btn_draw {
            background-color: red;
            color: white;
            padding: 12px;
            margin: 10px 0;
            border: none;
            width: 100%;
            border-radius: 3px;
            cursor: pointer;
            font-size: 17px;
            font-size: 17px;
        }

            .btn_draw:hover {
                background-color: lightcoral;
            }

        .btn_his {
            background-color: saddlebrown;
            color: white;
            padding: 12px;
            border: none;
            width: 100%;
            border-radius: 3px;
            cursor: pointer;
            font-size: 17px;
        }

            .btn_his:hover {
                background-color: lightsalmon;
            }


        a {
            color: #2196F3;
        }

        hr {
            border: 1px solid lightgrey;
        }

        span.price {
            float: right;
            color: grey;
        }

        /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */

    </style>
</head>
<body>

    <div class="row">
        <div class="col-75">
            <div class="container">
                <form method="get" asp-controller="home" asp-action="update" asp-route-username="@ViewBag.username">
                    <div class="row">
                        <div class="col-50">
                            <h3>Information Of @ViewBag.username</h3>

                            <label for="fname"><i class="fa fa-user"></i> Full Name</label>
                            <input type="text" value="@ViewBag.fullname" asp-for="Fullname" readonly>

                            <label for="email"><i class="fa fa-envelope"></i> Email</label>
                            <input type="email" value="@ViewBag.email" asp-for="Email" readonly>

                            <label for="adr"><i class="fa fa-address-card-o"></i> Phone Number</label>
                            <input type="number" value="@ViewBag.phone" asp-for="Phone" readonly>
                        
                        </div>
                    </div>
                    <div>
                        @TempData["msg"]
                    </div>
                    <input type="submit" value="Update Information" class="btn">
                </form>
               
                <div>
                    <a asp-controller="login" asp-action="index"><button class="btn_draw">Log Out</button></a>
                </div>
            </div>
        </div>
        <div class="col-25">
            <div class="container">
                <h4 style="color:lightslategray">Account Balance </h4>
                <input type="hidden" value="@ViewBag.accid" />
                <hr>
                <p>Surplus <span class="price" style="color:black"><b> @ViewBag.balance</b> <i>VND</i></span></p>

                <a asp-controller="bank" asp-action="index" asp-route-id="@ViewBag.accid"><button class="btn_des">Depositing</button></a>
                <a asp-controller="bank" asp-action="index" asp-route-id="@ViewBag.accid"> <button class="btn_draw">WithDraw</button></a>
                <a asp-controller="home" asp-action="history" asp-route-id="@ViewBag.accid"><button class="btn_his">History of Accounts</button></a>
            </div>
        </div>
    </div>

</body>
</html>